.Footer{
    position: absolute;
    bottom:0;
    left: 0;
    padding:20px 200px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.Footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:24px;
}

.Footer ul li {
    border-right: 2px solid var(--secondary-color);
    padding-right: 20px;
}

.Footer ul li a{
    text-transform: uppercase;
    border-bottom: 2px solid transparent; /* No underline initially */
}

.Footer ul li a:hover{
    border-bottom: 2px solid var(--secondary-color);
}

.Footer ul li:last-child {
    border-right: none;
}

.Footer .copyright{
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
}